* {
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}
.todo-wrapper {
  padding: 25px 88px;
}
.todo-header {
  padding: 10px 8px;
  background-color: #4e4e4e;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.header-line {
  display: flex;
  width: 78.5%;
}
.item-line {
  margin-left: 0;
  padding-left: 0px;
}

.header-line-info-lst {
  padding: 0px;
  display: flex;
  margin-left: 80px;
}
#todo-button-create {
  margin-right: -30px;
  cursor: pointer;
}
.button-create-wraper {
  margin-top: 30px;
  text-align: end;
  margin-right: 30px;
}
button {
  outline: 0;
}

.header-line-buttons {
  display: flex;
}
.header-line-buttons button {
  margin-right: 20px;
  cursor: pointer;
}
.header-line li {
  width: 180px;
  list-style: none;
  overflow: hidden;
  padding: 10px;
  color: white;
}
.header-Tags {
  margin-left: 57px;
}

.todo-item {
  padding: 10px;
  padding-left: 20px;
  margin-top: 10px;
  background-color: rgb(177, 177, 177);
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.item-name {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.title-create {
  text-align: center;
  margin-top: -91px;
  font-weight: bold;
  line-height: 25px;
}
.modal-content {
  position: relative;
  color: black;
  background-color: white;
  margin: auto;
  padding: 120px 100px;
  border: 2px solid white;
  width: 50%;
}
.close {
  font-size: 45px;
  cursor: pointer;
  position: absolute;

  right: 4px;
  top: -10px;
}
.header-Tags li:last-child {
  text-align: center;
}

#button-archive {
  outline: none;
  border: none;
  background-color: inherit;
}
.header-line-itemRandom::before {
  margin-left: 3px;
  margin-top: 10px;
  content: url("../img/question.png");
}
.header-line-itemTask::before {
  margin-left: 3px;
  margin-top: 10px;
  content: url("../img/task.png");
}
.header-line-itemIdea::before {
  margin-left: 3px;
  margin-top: 10px;
  content: url("../img/idea.png");
}
#delete-button {
  outline: none;
  border: none;
  background-color: inherit;
}
.Delete_button {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
.change-button {
  margin-top: 2px;
  width: 37px;
  height: 37px;
}
.Delete-but {
  background-color: inherit;
  outline: none;
  border: none;
}
#show-archive {
  cursor: pointer;
  width: 100%;
  background-color: #4e4e4e;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  padding: 20px 10px;
}

.Non-Change {
  visibility: hidden;
}

.header-line-info {
  background-color: #4e4e4e;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.Status-notes {
  display: flex;
}
.Status-notes li:last-child {
  margin-right: 250px;
}
.Status-notes li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 300px;
}
.Status-notes-items li {
  padding-right: 35px;
  width: 50px;
}
.Status-notes-items li:last-child {
  padding-right: 29px;
}
.header-line-info-lst {
  min-width: 400px;
}
.header-line-info-item {
  background-color: rgb(177, 177, 177);
  color: white;
  font-size: 20px;
  font-weight: 600;
  color: rgb(94, 94, 94);
}
.form-cont {
  display: flex;
  justify-content: space-between;
  padding: 33px;
}
.form-cont input {
  width: 150px;
  outline: none;
}
.form-cont p {
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
}
#form-submit-button {
  position: absolute;
  outline: none;
  width: 70px;
  cursor: pointer;
  height: 30px;
  margin-left: 300px;
}
.header-line-info-item img {
  position: absolute;
  margin-top: 11px;
  margin-left: 35px;
  width: 26px;
  height: 25px;
}
#show-archive-button {
  width: 70px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 10px;
}

#show-archive-button img {
  width: 100%;
  height: 100%;
}
#show-archive-button img:first-child {
  display: none;
}
#show-archive-button img:last-child {
  display: block;
}
#hive {
  position: relative;
}
.note-header-icons {
  justify-content: flex-end;
  margin-left: 250px;
}
